/* Palette */
:root{
	--main-color-- : #0065FC;
	--secondary-light-color-- : #DEEBFF;
	--main-bg-color-- : #F2F2F2;
	--nav-size-- : 120px;
}

/*Wrapping*/
body{
	margin: auto 50px;
}

/*Overridding user agent*/
* {
	font-family: 'Raleway', sans-serif;
}

h3, h4, figure, p{
	margin: 0;
}

h2{
	font-size: 18px;
	font-weight: 800;
	margin:0;
}

a {
	color: inherit;
	text-decoration: none;
}

menu{
	list-style:none;
	margin: 0;
	padding: 0;
}

ul {
    display: flex;
    list-style-type: none;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

/*Header*/
#Navbar {
	top:0;
	position: fixed;
	width: calc(100% - 100px);
	margin-right: 50px;
	background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,1) 90%, rgba(255,255,255,.1));
	display: flex;
	justify-content: space-between;
	z-index: 5;
}

#Navbar:hover {
	opacity: 1;
}

.Links{
	display: flex;
	justify-content: stretch;
}

.LinkBox{
	padding: calc((var(--nav-size--) / 2) - 10px);
	position: relative;
	align-self: center;
}


.Link {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}

.LinkBox:hover{
	color: var(--main-color--);
}

.LinkBox:hover::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	background-color: var(--main-color--);
	height: 3px;
	width: 100%;
}

/* Main */
main{
	padding-top: var(--nav-size--);
}

.Anchor{
	position: absolute;
	margin-top: calc(var(--nav-size--) * -1 - 28px);
}

.p-footer{
	margin-top: 40px;
	background-color: var(--main-bg-color--);
	padding-left: 50px;
	margin-left: -50px;
	margin-right: -50px;
}

.p-footer > section {
	width: 30%;
}

.p-footer > section > p{
	font-size: 14px;
	margin: 7px 0;
}

.p-footer > section > h5{
	margin-top: 40px;
	margin-bottom: 15px;
}

.filtre{
	border: 1px var(--main-bg-color--) solid;
	font-weight: 600;
	font-size: 14px;
	border-radius: 50px;
	padding: 8px 15px;
	position: relative;
	margin: 10px;
	padding-left: 40px;
	cursor: pointer;
}

.filtre:hover{
	color: white;
	background-color: var(--main-color--);
}

.filtre > i{
	position: absolute;
	margin: -9px  0 0 -42px;
	width: 34px;
	height: 23px;
	border-radius: 50px;
	color: var(--main-color--);
	text-align: center;
	padding-top: 11px;
	background-color: var(--secondary-light-color--);
}

.filtre-container{
	display: flex;
	margin: 10px 0;
}

.info{
	width: 16px;
	height: 13px;
	font-size: 10px;
	padding-top: 3px;
	text-align: center;
	color: var(--main-color--);
	border-radius: 50px;
	border: 1px var(--main-bg-color--) solid;
}